.wrapper {
    position: fixed;
    inset: 0;
    z-index: 999;
    background-color: rgb(3, 0, 17);
    display: grid;
    place-items: center;
    transition: opacity .25s, visibility 1s;
}

.fade {
    opacity: 0;
    visibility: hidden;
}





/* PHONES LANDSCAPE */
@media (orientation: landscape) and (max-device-height: 480px) and (hover: none) and (pointer: coarse) {

} 
/* PHONES PORTRAIT */
@media screen and (max-device-width: 480px) and (orientation: portrait) and (hover: none) and (pointer: coarse) {

}

/* TABLET-IPAD PORTRAIT */
@media screen and (min-device-width: 480px) and (orientation: portrait) and (hover: none) and (pointer: coarse) {

}
/* TABLET-IPAD LANDSCAPE */
@media screen and (min-device-width: 480px) and (orientation: landscape) and (hover: none) and (pointer: coarse) {

}