
html {
    z-index: 1;
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
  }
  

/* PRELOADER SECTION */

.wrapper {
    position: fixed;
    inset: 0;
    z-index: 999;
    background-color: rgb(3, 0, 17);
    display: grid;
    place-items: center;
    transition: opacity .25s, visibility 1s;
}

.fade {
    opacity: 0;
    visibility: hidden;
}

/* MAIN */ 

/* TITLE */

#title {
    position: absolute;
    color: #FFF;
    text-align: center;
    font-family: "lato", sans-serif;
    letter-spacing: 10px;
    top: 20%;
    left: 40%;
  }

.maintitle {
    font-size: 5vh;
    font-weight: 900;
    transition: 0.5s;
}

.maintitle:hover {
    transform: scale(1.2);  
    cursor:default;
}

/* MAIN WRITING */

.contents {
    display: flex;
    position: fixed;
    top: 37%;
    z-index: 10;
    left: 20vw;
    font-size: 4vh;
    font-weight: 300;
    animation: fadeinLoad 1s 0.75s forwards;
    opacity: 0;
  }

  @keyframes fadeinLoad {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

/* PLANETS TRANSITION */

@keyframes slideUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

.leftplanet {
    margin: 0;
    position: fixed;
    top: 50vh;
    left: -20vw;
    animation: 1s ease-out 0s 1 slideUp;
    -webkit-filter: drop-shadow(0px 0px 100px #ffffff);
    filter: drop-shadow(0px 0px 400px #00c3ff91);
}  

.leftplanetcont {
    margin: 0;
    position: absolute;
}

.rightplanet {
    margin: 0;
    position: absolute;
    top: -57vh;
    left: 37vw;
    animation: 1s ease-out 0s 1 slideDown;
    -webkit-filter: drop-shadow(0px 0px 100px #ffffff);
    filter: drop-shadow(0px 0px 400px #00eeff91);
}  

.rightplanetcont {
    margin: 0;
    position: absolute;
}