
html {
    z-index: 1;
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
  }
  

/* PRELOADER SECTION */

.wrapper {
    position: fixed;
    inset: 0;
    z-index: 999;
    background-color: rgb(3, 0, 17);
    display: grid;
    place-items: center;
    transition: opacity .25s, visibility 1s;
}

.fade {
    opacity: 0;
    visibility: hidden;
}

/* MAIN */ 

/* ROCKET TRANSITION */

@keyframes slideInFromLeft {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

.rocket {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}  